body {
    font-family: calibri;
}
form {
    width: 40%;
    min-width: 200px;
    margin: 0 auto 30px;
}
label, input, textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}
ul {
    width: 80%;
    min-width: 250px;
    margin: 30px auto 0;
    list-style-type: none;
}
ul li {
    border: 1px solid #000;
    margin: 5px auto;
    padding: 10px;
    background-color: lightblue;
}
ul li h3 {
    font-weight: normal;
    font-size: 15px; 
    margin: 0;
    text-decoration: underline;   
}
ul li quote {
    font-style: italic;
}
h4 {
    width: 80%;
    min-width: 250px;
    margin: 0 auto;
    padding-left: 40px;
    font-weight: normal;
}
p.alert{
    color: red;
}